//fontes
$fontPrincipal: Roboto,sans-serif;

//cores corpo
$corDeFundoBody: #f5f6fa;
$corCabecalho:#182C61;
$corSecundaria:#00d2d3;
$corTexto:#fff;

//botao

$corNormalBotao:#44bd32;
$CorHoverBotao: #4cd137;


//Breakpoint
$mobile: 767px;
